#　データの永続化
## SQLite
* 軽量データベースを実装するC言語のライブラリ
* サーバ用のプロセスを必要としない、組み込み型のベースエンジン、
* 単一のファイルによって管理される(インメモリも可能)

In [5]:
import sqlite3

In [6]:
#DBファイルの保存先パス(相対パスで指定)
path = ''

#googlecolabの場合
#path = '/content/'


#DBファイル
db_name = 'test.db'

#DB接続の確立
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

##　テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'

try:


    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL分の作成
    #テーブルを作成
    sql = 'CREATE TABLE cars(id TNT,name TEXT,price REAL)'

    #SQL文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('DBエラーが発生しました:', e)

finally:
#DB接続を閉じる
    conn.close()

OperationalError: table cars already exists

### データをDBに挿入する

In [10]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL分の作成
    #データの挿入
    #文字列データを挿入する場合は’’で囲む必要がある
    sql = "INSERT INTO cars(id,name,price) VALUES(1,'370z',7000000)"

    #SQL文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('DBエラーが発生しました:', e)

finally:
    #DB接続を閉じる
    conn.close()

## データをDBに挿入する（複数行）

In [12]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL分の作成
    #複数データの挿入
    #INSERT INTO テーブル名　VALUES (列に対応したプレースホルダーをカンマ区切りで)；
    sql = "INSERT INTO cars(id,name,price) VALUES(?,?,?);"

    cars = [
        (2, 'Skyline', 8000000),
        (3, 'Silvia', 6000000),
        (4, 'Supra', 9000000)
    ]

    #SQL文の実行
    cur.executemany(sql,cars)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('DBエラーが発生しました:', e)

finally:
    #DB接続を閉じる
    conn.close()

### DB内のデータを参照する

In [14]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL文の実行
    cur.executemany(sql,cars)

    #データを参照するSQL
    #SELECT * FROM テーブル名;
    #*の部分は、取得したい列の名前をカンマ区切りで指定することも可能
    sql = "SELECT * FROM cars"

    #変更をDBに反映させる
    #conn.commit()

except sqlite3.Error as e:
    print('DBエラーが発生しました:', e)

else:
    for row in cur:
        id, name, price = row
        print(id,name,price)

finally:
    #DB接続を閉じる
    conn.close()

DBエラーが発生しました: executemany() can only execute DML statements.

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    sql = "DELETE FROM cars WHERE id = 1;"

    

    #SQL文の実行
    cur.executemany(sql,cars)

    #データを参照するSQL
    #SELECT * FROM テーブル名;
    #*の部分は、取得したい列の名前をカンマ区切りで指定することも可能
    sql = "SELECT * FROM cars"

    #変更をDBに反映させる
    #conn.commit()

except sqlite3.Error as e:
    print('DBエラーが発生しました:', e)

else:
    for row in cur:
        id, name, price = row
        print(id,name,price)

finally:
    #DB接続を閉じる
    conn.close()